@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "Borrowings";
}

<div>
<h1>@ViewData["Title"]</h1>
	
	<ul>
		@if (Model != null && Model.Any())
		{
			foreach (var reader in Model)
			{
				<li>@reader.Name</li>
			}
		}
		else
		{
			<p>No readers found.</p>
		}
	</ul>
</div>