@model LMS3.Models.Reader
<style>
    .submit-button {
        margin-top: 20px;
    }
</style>

<h2>Update Reader</h2>

<form asp-action="UpdateReader" asp-controller="Reader" asp-route-id="@Model.ReaderId" method="post">
    <input type="hidden" asp-for="ReaderId" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" required />
    </div>
    
    <button type="submit" class="btn btn-primary submit-button">Update Reader</button>
</form>