@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<LMS2.Models.Book>

@{
ViewData["Title"] = "Books";
}

<div>
<h1>@ViewData["Title"] available for checkout.</h1>
	
	<ul>
		@if (Model != null && Model.Any())
		{
			foreach (var book in Model)
			{
				<li>@book.Title by @book.Author</li>
			}
		}
		else
		{
			<p>No books found.</p>
		}
	</ul>
</div>